<div class="card-container">
  <app-card
    [imageUrl]="card1.imageUrl"
    [category]="card1.category"
    [title]="card1.title"
    [description]="card1.description"
    [buttonText]="card1.buttonText"
  >
  </app-card>

  <app-card
    [imageUrl]="card2.imageUrl"
    [category]="card2.category"
    [title]="card2.title"
    [description]="card2.description"
    [buttonText]="card2.buttonText"
  >
  </app-card>

  <app-card
    [imageUrl]="card3.imageUrl"
    [title]="card3.title"
    [description]="card3.description"
  >
  </app-card>
</div>