<div class="split-button-wrapper">
  <button class="split-button-main" (click)="selectPrimaryAction()">
    {{ primaryAction().label }}
  </button>
  <button class="split-button-dropdown" (click)="toggleMenu()" [disabled]="secondaryActions().length === 0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="dropdown-icon">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>

  @if (isMenuOpen()) {
    <div class="dropdown-menu">
      @for (action of secondaryActions(); track action.label) {
        <button class="dropdown-item" (click)="selectSecondaryAction(action)">
          {{ action.label }}
        </button>
      }
    </div>
  }
</div>
