<div class="container">
  <div class="showcase-group">
    <h3 class="group-title">Sizes</h3>
    <div class="showcase-items">
      <div class="item">
        <app-progress-spinner size="sm"></app-progress-spinner>
        <span>Small</span>
      </div>
      <div class="item">
        <app-progress-spinner size="md"></app-progress-spinner>
        <span>Medium</span>
      </div>
      <div class="item">
        <app-progress-spinner size="lg"></app-progress-spinner>
        <span>Large</span>
      </div>
    </div>
  </div>
  <div class="showcase-group">
    <h3 class="group-title">Colors</h3>
    <div class="showcase-items">
      <div class="item">
        <app-progress-spinner colorClass="stroke-red-500"></app-progress-spinner>
        <span>Red</span>
      </div>
      <div class="item">
        <app-progress-spinner colorClass="stroke-green-500"></app-progress-spinner>
        <span>Green</span>
      </div>
      <div class="item">
        <app-progress-spinner colorClass="stroke-purple-500"></app-progress-spinner>
        <span>Purple</span>
      </div>
    </div>
  </div>
</div>
